<section class="cross-sell">
	{% if cross_sell | length > 0 %}
		<h3>You May Also Like</h3>
		{% for product in cross_sell %}
			<div class="product">
				{%
					set cross_sell_page = mapper.getPageForProduct(product.product.product, {
						(product.option.name): product.option.value
					})
				%}
				{% set image = cross_sell_page.content.gallery.all[0].image ?: product.product.product.image %}
				<a href="{{ cross_sell_page.slug }}">
					{{ getResizedImage(image, 360,455) }}
					<div class="details">
						<div class="alignment-mid">
							<h3>{{ product.product.product.displayName }}</h3>
							<h5>{{ product.option.value }} <span class="price">{{ product.product.product.getPrice | price }}</span></h5>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	{% endif %}
</section>