<section class="promo row" data-height>
	<div class="alignment-bottom">
		{# Promo title #}
		<h1>{{ content.header.header.value }}</h1>

		{# Promo subtitle #}
		{% if content.header.subheader.value %}
			<h3>{{ content.header.subheader }}</h3>
		{% endif %}

		{# Promo button / link #}
		{% if content.header.link.value %}
			<a href="{{ content.header.link }}" class="button {{ content.header.link_colour.value }}">Read more</a>
		{% endif %}
	</div>
	{# Promo image #}
	{% if content.header.image.value %}
		{{ getResizedImage(content.header.image, 1440, 900, {'class': 'cover'}) }}
	{% endif %}
</section>