<section class="product-info col-6">
{% set sale = content.product.product.product.getPriceFrom < content.product.product.product.getPriceFrom('rrp') %}

	{# Product title & varient #}
	<h1>
		{{ product.displayName }}
		{% if content.product.option.value %}
			<span>
				{{ content.product.option.value }}
			</span>
		{% endif %}
	</h1>

	{# Price #}
	<h3>
		{% if sale %}<span class="sale">{% endif %}

		{{ content.product.product.product.hasVariablePricing('retail', null, {
			(content.product.option.name): content.product.option.value
		}) ? 'From ' }}

		{{ content.product.product.product.getPriceFrom | price }}

		{% if sale %}
			<s>Was: {{ content.product.product.product.getPriceFrom('rrp') | price }}</s>
		{% endif %}

		{% if sale %}</span>{% endif %}
	</h3>

	{# Product selector#}
	{{
		render(controller('Message:Mothership:Commerce::Controller:Module:ProductSelector#index', {
			product: content.product.product.product,
			options: {
				(content.product.option.name): content.product.option.value
			},
			showVariablePricing: true
		}))
	}}

	{# Short description #}
	<p>{{ product.shortDescription | nl2br }}</p>

</section>